.about-head h1 {
  font-size: 42px;
  font-weight: 700;
  color: var(--black-text);
}
.about-head h5{
  color: var(--black-text);
}
.about-head p{
  color: var(--text-black-50);
}
.profile-card {
  border-radius: 20px;
  background: #fff;
}

#job-title {
  color: var(--main-color);
  font-weight: 600;
}

.profile-card img {
  max-width: 230px;
  border-radius: 15px;
}
