.cv-four {
  /* background-color: aqua; */
  width: 80%;
  border: 2px solid #767575;
  /* padding: 20px; */
  padding: 0;
  border-radius: 15px;
  margin: 50px auto;
}
.cv-four h4,.cv-four li,.cv-four h6{
  color: var(--black-text);
}
.cv-four #user{
  color: #fff;
}
.cv-four p{
  color: var(--text-black-50);
}
.cv-four .cv4-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  background-color: #2a2929;
  width: 100%;
  margin: 0;
  padding: 20px;
}
.cv-four .cv4-header .cv-header-content {
  text-align: center;
  border: 2px solid #767575;
  width: 50%;
  margin: auto;
  padding: 20px;
}
.cv-four .cv4-header .cv-header-content span {
display: block;
background-color: #fff;
width: 20%;
height: 2px;
margin:10px auto;

}
.cv-four .hrz-spacer {
  background-color: #000;
  width: 1%;
  height: 100%;
  margin-left: -8%;
  /* border-radius: 15px; */
  text-align: center;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}
.cv-four #experince-date {
  overflow: hidden;
  margin-left: auto;
  width: fit-content;
  text-decoration: none;

  padding: 8px 12px;
  border-radius: 15px;
  position: relative;
  left: 70%;
  top: 20px;
  font-size: 0.9rem;
  font-weight: 700;
}
.cv-four #project-date {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 35%;
  position: relative;
}

.cv-four #project-date a,
.cv-four #project-date span {
  text-decoration: none;
 font-weight: 600;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
}
.cv-four p , .cv-four li{

    text-align: justify;
}