.cv-two {
  /* background-color: red; */
  /* text-align: center; */
  width: 80%;
  border: 2px solid #8e8e8e;
  border-radius: 15px;
  /* height: 10000px; */
}
.cv-two p {
  text-align: justify;
  color: var(--text-black-50);
}
.cv-two li,
.cv-two h4,.cv-two h5,.cv-two
 h6 {
  color: var(--black-text);
}
.personal h1 {
  color: var(--black-text);
}
.cv-two .person-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
}
.cv-two .spacer {
  background-color: #8e8e8e;
  width: 100%;
  height: 3px;
  border-radius: 15px;
  margin: 20px 0;
  text-align: center;
}
.cv-two .column-spacer {
  background-color: #8e8e8e;
  width: 80%;
  height: 3px;
  border-radius: 15px;
  margin: 20px 0;
  text-align: center;
}

.col2 {
  height: 1000px;
}
.cv-two .hrz-spacer {
  background-color: #8e8e8e;
  width: 1%;
  height: 100%;
  margin-left: -8%;
  border-radius: 15px;
  text-align: center;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

.cv-two .hrz-spacer span {
  display: block;
  background-color: #000;
  width: 10px;
  height: 10px;
  margin: 15px 0;
  margin-left: -15% !important;
  border-radius: 50%;
}
.cv-two #experince-date {
  overflow: hidden;
  margin-left: auto;
  width: fit-content;
  text-decoration: none;

  padding: 8px 12px;
  border-radius: 15px;
  position: relative;
  left: 70%;
  top: 20px;
  font-size: 0.9rem;
  font-weight: 700;
}
.cv-two #project-date {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 35%;
  position: relative;
}

.cv-two #project-date a,
.cv-two #project-date span {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9rem;
}
