.home {
  padding: 60px 0;
}

.text h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--black-text);
}
.text p{
  color: var( --text-black-50);
}
#easy {
  color: var(--main-color);
}

.num-btn {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(56, 178, 172, 0.35);
  transition: 0.3s ease;
}

.num-btn:hover {
  background-color: var(--hover-color); /* درجة أغمق من نفس اللون */
  box-shadow: 0 6px 14px rgba(56, 178, 172, 0.45);
}

.select-btn {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  padding: 10px 22px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.select-btn a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.select-btn:hover {
  background-color: var(--hover-color) !important;
  border-color: var(--hover-color) !important;
}

.image img {
  max-width: 90%;
}
