
#template {
  color: var(--main-color);
}

.template-card {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.select-template  h1{
  color: var(--black-text);
}
.template-img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.edit-template {
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  z-index: 2;
  /* font-size: 10px; */
  /* display: block; */
  /* width: 50%; */
}

.edit-template:hover {
  background-color: var(--hover-color); 
  color: var(--text-color);
}

@media (max-width: 767px) {
  .template-card {
    margin-bottom: 20px;
  }
}
