body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-color: #38b2ac;
  --hover-color: #2f908b;
  --text-color: #fff;
  --black-text: #000;
  --text-black-50: #6e6a6af0;
  --bg-light:#f8f9fa;
}
.dark-mode {
  background-color: #121212
;
  /* --main-color: red; */
  --black-text: #fff;
  --text-black-50: #ffffffa4;
  --bg-light: #2A2A2A ;
}
label{
  color: var(--black-text) !important;
}
form h4{
  color: var(--black-text);
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: var(--bg-light);
}


::-webkit-scrollbar-thumb {
  background: var(--main-color);
 
}


::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
::selection{
  background-color: var(--hover-color);
  color: 
  var(--text-color);
}